@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(to bottom, #1150a1, #2181ff);
}

* {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    /* border: solid 1px black; */
}

/* --------- PRELOADER --------- */
.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin: 0 auto;
}
/* ------- END PRELOADER ------- */

/* .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

.section-title {
    font-weight: 600;
    font-size: 20px;
    color: #1150a1;
}

.title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    color: #1150a1;
}

.title-section-about-us {
    font-weight: 800;
    font-size: 35px;
    line-height: 143.9%;
    color: #1150a1;
}

.text-30 {
    font-size: 30px;
}
.text-blue-35 {
    font-weight: 800;
    font-size: 35px;
    line-height: 130%;
    color: #1150a1;
}

.title-black {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    color: #222222;
}

.subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 190%;
    color: #222222;
}

/* Section Header */

.navbar {
    transition: all 0.4s;
    /* background: #1150a1;
    opacity: 15%; */
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color:#1150a1;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #ffda08;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #ffda08;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
    }
}
/* End Section Header */

/* Section Banner */
.bg-banner-farmers {
    background: url(../images/home/farmers/hero-farmers.jpg) no-repeat scroll
        center center;
    background-position: top;
}
.bg-banner-about-us {
    background: url(../images/about-us/hero-about-us.jpg) no-repeat scroll
        center center;
}
.bg-banner-our-product {
    background: url(../images/our-products/hero-product1.png) no-repeat scroll
        center center;
}
.bg-banner-blog {
    background: url(../images/blog/hero-blog.jpg) no-repeat scroll center center;
}
.banner_area {
    z-index: 1;

    background-size: cover;
}
.banner_area .banner_inner {
    width: 100%;
}
.banner_area .banner_inner .col-lg-8 {
    vertical-align: middle;
    align-self: center;
}
.banner_area .banner_inner .banner_content {
    text-align: left;
    color: #fff;
}
.banner_area .banner_inner .banner_content p {
    color: #fff;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    /* margin-bottom: 35px; */
}

/* End Section Banner */

.btn--primary {
    color: white;
    background: #1150a1;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: center;
    border-radius: 40px;
    background: #1150a1;
    transition: all 0.3s ease 0s;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1.5px #1150a1;
}

.btn--primary:hover {
    color: #1150a1;
    background: transparent;
}

.btn--outline-primary {
    color: #1150a1;
    background: transparent;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: center;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    border: solid 1.5px #1150a1;
    padding-left: 20px;
    padding-right: 20px;
}

.btn--outline-primary:hover {
    color: #fff;
    background: #1150a1;
}

.btn--outline-white {
    color: white;
    background: transparent;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: center;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    border: solid 1.5px #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.btn--outline-white:hover {
    color: #1150a1;
    background: white;
}

.card-subtitle {
    color: #222222;
}

.product-title {
    font-weight: 900;
    font-size: 110px;
    line-height: 1;
    color: #222222;
}

.product-subtitle {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    color: #222222;
}

.nav-link {
    font-weight: 700;
}

.link-active {
    display: inline-block;
    text-align: center;
    background: linear-gradient(
        90deg,
        transparent 25%,
        #1150a1 25%,
        #1150a1 75%,
        transparent 75%
    );
    background-size: 100% 3px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
}

.bg-image-map {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-team {
    background-image: url("../images/home/team.png"),
        linear-gradient(180deg, #1150a1 0%, #e8410d 100%);
}

.section-join {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../images/join-us/bg-join.png"),
        linear-gradient(to right, rgba(232, 65, 13, 0), #1150a1 100%);
}

.sm-section-join {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../images/join-us/bg-join.png"),
        linear-gradient(to bottom, rgba(232, 65, 13, 0), #1150a1 100%);
}

.bg-image-join {
    background-image: url("../images/home/team.png"),
        linear-gradient(180deg, #1150a1 0%, #e8410d 100%);
}
.bg-gradient {
    background-image: linear-gradient(180deg, #1150a1 0%, #e8410d 100%);
}
.title-slide {
    color: white;
    font-weight: 800;
    font-size: 35px;
    line-height: 131.9%;
}
.title-white {
    color: white;
    font-weight: 800;
    font-size: 53px;
}

.img-product {
    margin-right: -6rem;
}

/* Section Our Farmers */
.hero-title {
    font-weight: 800;
    font-size: 120px;
    line-height: 131.9%;
    text-align: center;
    color: #ffffff;
}
.title-h6 {
    font-weight: 500;
    font-size: 29px;
    color: #1150a1;
}
.title-h2 {
    font-weight: 600;
    font-size: 40px;
    color: #1150a1;
}
.px-100 {
    padding-left: 100px;
    padding-right: 100px;
}
.px-190 {
    padding-left: 190px;
    padding-right: 190px;
}

.px-277 {
    padding-left: 250px;
    padding-right: 250px;
}

.px-240 {
    padding-left: 240px;
    padding-right: 240px;
}

.py-300 {
    padding-top: 300px;
    padding-bottom: 300px;
}
.bg-img-farmers {
    max-width: 100%;
    height: auto;
}

/* End Section Our Farmers */

/* Section Blog */

.blog-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 149.4%;
    color: #222222;
    text-decoration: none;
}
.blog-description {
    font-size: 16px;
    line-height: 190%;
    color: #838383;
}

.text-read-more {
    font-weight: 800;
    font-size: 18px;
    line-height: 131.9%;
    color: #e8410d;
}

.text-read-more:hover {
    color: #1150a1;
}
.title-detail {
    font-weight: bold;
    font-size: 40px;
    line-height: 143.9%;
    text-align: center;
    color: #1150a1;
}

.text-detail-blog {
    font-weight: normal;
    font-size: 16px;
    line-height: 190%;
    color: #000000;
}
.blog-author {
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #838383;
}
/* End Section Blog */

.bg-image-collaboration {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.bg-collab {
    background-image: url("../images/home/collaboration.png"),
        linear-gradient(180deg, #1150a1 0%, #e8410d 100%);
}

.btn-white-primary {
    color: #1150a1;
    background: #fff;
    letter-spacing: 1px;
    line-height: 15px;
    text-align: center;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1.5px #fff;
    font-weight: 700;
}

.btn-white-primary:hover {
    color: #fff;
    background: #1150a1;
    border: solid 1.5px #1150a1;
}

.btn-hero {
    color: #fff;
    background: transparent;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    padding: 10px;
    border: solid 1.5px #fff;
    font-weight: 700;
}

.btn-hero:hover {
    color: #1150a1;
    background: white;
}

.line {
    border: 1px solid #ffffff;
}

.line-white {
    border: 1px solid white;
}

.line-primary {
    border: 1px solid #1150a1;
}

.line-gray {
    border: 1px solid #c4c4c4;
}

.title-primary-50 {
    color: #1150a1;
    font-weight: 800;
    font-size: 50px;
    margin: 0 200px;
}
.title-primary-65 {
    font-weight: 800;
    font-size: 65px;
    line-height: 143.9%;
    color: #1150a1;
}

.title-primary-80 {
    color: #1150a1;
    font-weight: 800;
    font-size: 80px;
    margin: 0 200px;
}

.text--black {
    color: #222222;
}

.number-primary {
    color: #1150a1;
    font-size: 80px;
    font-weight: 800;
}

.hero-line {
    border: 2px solid #fff;
    border-radius: 2px;
    width: 6rem;
}

.title-collab {
    font-size: 35px;
}

.hero-about-us {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../img/hero/hero.jpg");
        /* linear-gradient(180deg, transparent, #e8410d 100%); */
}
.hero-about-us-mobile {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../img/hero/hero-mobile.png");
        /* linear-gradient(180deg, transparent, #e8410d 100%); */
}

.hero-farmer {
    height: 100vh;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../images/hero/our-farmer-hero.png"),
        linear-gradient(180deg, transparent, #e8410d 100%);
}

.hero-our-product {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../images/hero/our-product-hero.png"),
        linear-gradient(180deg, transparent, #e8410d 100%);
}

.hero-our-program {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../images/hero/our-program-hero.png"),
        linear-gradient(180deg, transparent, #e8410d 100%);
}

.hero-blog {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("../images/hero/blog-hero.png"),
        linear-gradient(180deg, transparent, #e8410d 100%);
}

.contact-title {
    font-size: 50px;
    font-weight: 800;
    color: #1150a1;
}

.ml-n15 {
    margin-left: -15px;
}

.mt-n15 {
    margin-top: -15px;
}

.text-gray {
    color: #838383;
}

.text-12 {
    font-size: 12px;
}
.text-14 {
    font-size: 14px;
}
.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}
.text-20 {
    font-size: 20px;
}
.text-22 {
    font-size: 22px;
}
.text-26 {
    font-size: 26px;
}

.text-semibold {
    font-weight: 600;
}

.btn-social-media-green {
    color: white;
    background: #338e4f;
    letter-spacing: 2px;
    line-height: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    padding: 10px;
    border: solid 1.5px #338e4f;
}

.btn-social-media-green:hover {
    color: #338e4f;
    background: transparent;
}
.btn-social-media-primary {
    color: #ffda08;
    background: #1150a1;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    padding: 10px 20px 10px 20px;
    border: solid 1.5px #1150a1;
    border-radius: 50px;
}

.btn-social-media-primary:hover {
    color: #1150a1;
    background: #ffda08;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    padding: 10px 20px 10px 20px;
    border: solid 1.5px #ffda08;
    border-radius: 50px;
}

.btn-social-media-white {
    color: #1150a1;
    background: white;
    letter-spacing: 1px;
    line-height: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    padding: 5px;
    border: solid 1.5px white;
}

.btn-social-media-white:hover {
    color: white;
    background: #1150a1;
    border: solid 1.5px #1150a1;
}

.arrow-long-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 64px;
    height: 5px;
}

.arrow-long-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px;
}

.arrow-short-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 36px;
    height: 6px;
}

.arrow-short-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px;
}

.arrow-long-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 64px;
    height: 6px;
}

.arrow-long-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 0;
    bottom: -2px;
}

.arrow-short-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 36px;
    height: 6px;
}

.arrow-short-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 0;
    bottom: -2px;
}
.text-45 {
    font-size: 45px;
}

.me-n5 {
    margin-right: -3rem;
}
.photo-gallery {
    color: #313437;
    background-color: #fff;
}

.photo-gallery p {
    color: #7d8285;
}

.photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom: 0;
}

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}

.image-carousel {
    height: 200px !important;
    width: auto !important;
}

.product-image-carousel {
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.nav-bg-on-top {
    background: rgba(173, 30, 35, 0.15);
}
.zoom {
    transition: transform 0.2s;
}
.zoom:hover {
    transform: scale(1.1);
}

.description-our-program {
    font-weight: normal;
    font-size: 16px;
    line-height: 190%;
    color: #222222;
}
.category-our-program {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #1150a1
}
.text-title-product {
    font-weight: bold;
    font-size: 20px;
    line-height: 143.9%;
    color: #000000;
}
.text-price {
    font-weight: normal;
    font-size: 20px;
    line-height: 143.9%;
    color: #000000;
}

.text-question {
    font-weight: 800;
    font-size: 35px;
    line-height: 143.9%;
    color: #000000;
}
.second-section-title {
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    line-height: 190%;
    color: #222222;
}
.text-our-export {
    font-weight: 800;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF
}
.text-value-quantities {
    font-weight: bold;
    font-size: 20px;
    line-height: 190%;
    color: #222222;
}
.first-section-title {
    font-weight: 800;
    font-size: 35px;
    line-height: 130%;
    color: #222222;
}
.section-title-our-program {
    font-weight: 800;
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
}

.btn-outline-light {
    margin-top: 56px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px 24px;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    background-color: transparent;
}
.header_area .navbar .navbar-brand img + img {
    display: none; }
.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #A40603;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .navbar-brand img {
      display: none; }
      .header_area.navbar_fixed .main_menu .navbar .navbar-brand img + img {
        display: inline-block; }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px;
      color: #fff;
    }

.text--green {
    color: #1150a1;
}
.team4 {
    font-family: "Montserrat", sans-serif;
      color: #232425;
    font-weight: 300;
  }

  .team4 .font-weight-medium {
      font-weight: 500;
  }

  .team4 .subtitle {
      color: #232425;
      line-height: 24px;
          font-size: 13px;
  }

  .team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }

  .team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: #316ce8;
  }
.footer-black {
    padding-top: 100px;
    background-color: #0b2649;
    color: #fff;
}
.copyright-style {
    background-color: #093063;
    padding: 10px 100px;
    font-size: 13px;
}
.btn-outline-black {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #c4c4c4;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.btn-outline-black:hover {
    padding: 10px 20px;
    background-color: #1150a1;
    border-radius: 6px;
    color: #FFFFFF;
    border: 1px solid #1150a1;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.img-team-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-yellow {
    color: #ffda08;
}
.text-blue {
    color: #1150a1;
}
.card:hover{
    box-shadow: 5px 6px 6px 2px #e90a0a;
    /* transform: scale(1.2); */

    background-color: #4a86d4;
    color: #fff;
    /* -webkit-transition:  box-shadow .9s ease-in; */
  }
.center {
    display: flex;
    justify-content: center;
}

.portfolio-item {
    margin-top: 30px;
  }
  
  .portfolio-item .portfolio-images {
    position: relative;
  }
  
  .portfolio-item .portfolio-thumbnail {
    position: relative;
    display: block;
  }
  
  .portfolio-item .portfolio-thumbnail::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio-item .portfolio-thumbnail .ribbon {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #000000;
    color: #ffffff;
    padding: 0 15px;
    z-index: 3;
  }
  
  .portfolio-item .portfolio-thumbnail .ribbon.out-of-stock {
    background: #000000;
  }
  
  .portfolio-item .portfolio-thumbnail .ribbon.onsale {
    background: #f14705;
  }
  
  .portfolio-item .portfolio-thumbnail > img {
    width: 100%;
  }
  
  .portfolio-item .portfolio-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .portfolio-item .portfolio-actions a {
    width: 45px;
    height: 45px;
    line-height: 48px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;
    color: #000;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
  }
  
  .portfolio-item .portfolio-actions a:nth-child(1) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  .portfolio-item .portfolio-actions a:nth-child(2) {
    -webkit-transition-delay: .15s;
         -o-transition-delay: .15s;
            transition-delay: .15s;
  }
  
  .portfolio-item .portfolio-actions a:nth-child(3) {
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .portfolio-item .portfolio-actions a .tool-tip {
    position: absolute;
    background: #000;
    text-align: center;
    padding: 8px 12px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .6s, margin .3s;
    -o-transition: opacity .6s, margin .3s;
    transition: opacity .6s, margin .3s;
    white-space: pre;
    font-size: 13px;
    line-height: 14px;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff;
    border-radius: 2px;
  }
  
  .portfolio-item .portfolio-actions a .tool-tip::after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: "";
    height: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 0;
    bottom: -6px;
    -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
  }
  
  .portfolio-item .portfolio-actions a:hover {
    color: #dcb14a;
  }
  
  .portfolio-item .portfolio-actions a:hover .tool-tip {
    visibility: visible;
    opacity: 1;
    top: -35px;
  }
  
  .portfolio-item:hover .portfolio-thumbnail::after {
    opacity: 3;
    visibility: visible;
    background-color: #0a74ca5b;
  }
  
  .portfolio-item:hover .portfolio-actions a {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  
  .portfolio-item:hover .portfolio-actions a:nth-child(1) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  .portfolio-item:hover .portfolio-actions a:nth-child(2) {
    -webkit-transition-delay: .15s;
         -o-transition-delay: .15s;
            transition-delay: .15s;
  }
  
  .portfolio-item:hover .portfolio-actions a:nth-child(3) {
    -webkit-transition-delay: .3s;
         -o-transition-delay: .3s;
            transition-delay: .3s;
  }
  
  .portfolio-item .portfolio-content {
    margin-top: 20px;
  }
  
  .portfolio-item .portfolio-content .portfolio-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .portfolio-item .portfolio-content .portfolio-price span {
    color: #666;
    font-size: 18px;
  }

  ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
  
.bg-red{
	background-color: #ffd2cf;
}
.bg-blue1 {
	background-color: #d6ffff;
}
.bg-blue2 {
	background-color: #bff1ff;
}
.bg-orange {
	background-color: #ffdcc7;
}
.bg-purple1 {
	background-color: #e0ccff;
}
.bg-purple2 {
	background-color: #e3baff;
}
.bg-yellow {
	background-color: #f9ffb5;
}
.bg-green {
	background-color: #cdffc4;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 1px 1px 2px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.modal-content:hover {
    background-color: white;
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

